<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/template.css" type="text/css">
    <link rel="stylesheet" href="/css/<%=pagePath%>/<%=fileName%>.css" type="text/css">
    <script src="/js/template.js" type="module"></script>
    <script src="/js/<%=pagePath%>/<%=fileName%>.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.11.174/build/pdf.min.js"></script>
    <title> <%=pageTitle%> </title>
    
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header') %>

    <!-- NAVBAR -->
    <%- include('./partials/nav') %>

    <main class="fade-in">
        <%- 
            include(`./${pagePath}/${fileName}`)
        %>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
</html>
