<div class="player-card">
    <div class="fade-img">
        <img id="img2" class="overlay-image" src="<%= player.img.nickname %>" alt="<%= player.img.nicknameAlt %>">
        <img id="img1" src="<%= player.img.name %>" alt="<%= player.img.nameAlt %>">
        <div class="fade-names">
            <h3 id="name1" ><%= player.name %></h3>
            <h3 id="name2" class="overlay-name"><%= player.nickname %></h3>
        </div>
    </div>
    <div class="player-info">
        <h4 class="player-role"><%= player.role %></h4>
    </div>
</div>